*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
h1, h2, h3 {
    font-family: "Canela Web",-apple-system,system-ui;
    font-weight: 100;
    }
/* Set your own styles for the page / body */
body {
 font-size: 18px;
 font-family: "Calibre Web",-apple-system,system-ui;
 color: #222;
}

/* styling header */
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 50px 0;
  z-index: 100;
  width: 100%;
}
.container {
  padding: 20px 100px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.primary-menu ul {
  display: flex;
  height: 100%;
}
#primary-menu ul li a {
  color: #222;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding: 15px 0;
  margin: 0 23px;
  border: 1px solid transparent;
  border-radius: 3px;
}

#primary-menu ul li.menu-button a:hover {
  border-color: #222;
}
#primary-menu ul li:not(.menu-button) a::before, .brand a::before {
 position: absolute;
 width: 100%;
 height: 2px;
 left: 0;
 bottom: 0;
 content: '';
 display: inline-block;
}
#primary-menu ul li:not(.menu-button) a:hover::before, .brand a:hover::before {
  animation-duration: 1s; 
  animation-fill-mode: both; 
  animation-name: fadeInUp; 
  opacity: 0;
}
@keyframes fadeInUp { 
 0% { 
  opacity: 0;
  transform: translateY(20px); 
  } 
 100% { 
  opacity: 1;
  transform: translateY(0);
  background: #222; 
  } 
} 
/* styling hero section */
.brand a {
  font-size: 20px;
  font-weight: 400;
  padding: 15px 15px 0 -20px; 
}
/* sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 105;
  top: 0;
  right: 0;
  background-color: rgba(34, 34, 34, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fcfcfc;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
  cursor: pointer;
}
#primary-menu ul li span.button {
 display: block;
 height: 100%;
 padding-left: 5px;
 width: 40px;
 position: relative;
 cursor: pointer;
}
 #primary-menu ul li span.button::before, #primary-menu ul li span.button::after {
 content: "";
 display: block;
 width: 30px;
 height: 2px;
 background-color: #222;
 transition: all 0.5s;
 position: absolute;
 top: 50%;
 }
#primary-menu ul li span.button::before {
 transform: translateY(-5px);
}
#primary-menu ul li span.button::after {
 transform: translateY(5px);
}
/* animate on hover */
#primary-menu ul li span.button:hover::before {
 transform: translateY(-9px);
}
#primary-menu ul li span.button:hover::after {
 transform: translateY(9px);
}
/* making the navbar responsive */
@media only screen and (max-width: 800px) {

.header-container {
  padding: 0 50px;
}  
#primary-menu ul li:not(.menu-button) a {
  display: none;
}
}

/* styling the  brands hero section */
section#brands-hero {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f4ebe7;
  height: 110vh;
}
section#brands-hero .container {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /*background: lightblue;*/ /* demo*/
}
section#brands-hero .container .section-title {
  flex: 0 0 47%;
  padding: 0 25px;
}
section#brands-hero .container .section-title h1 {
 font-size: 50px;
 padding: 50px 0 50px 50px;
}
section#brands-hero .container .section-title p {
  font-size: 22px;
  line-height: 1.4;
  color: #899093;
}
section#brands-hero .container .svg-container {
  flex: 0 0 47%;
  height: 100%;
}

/* making the hero section responsive */
@media only screen and (max-width: 600px) {
  section#brands-hero {
  height: auto;
}
  section#brands-hero .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  section#brands-hero .container .section-title {
  flex: 0 0 90%;
  padding: 20px 25px;
  margin: 50px 0;
}
  section#brands-hero .container .section-title h1 {
  font-size: 30px;
  padding: 20px 0 40px;
}
section#brands-hero .container .svg-container {
  flex: 0 0 90%;
}
.the-svg-girl {
  width: 95%;
  height: 500px;
  transform: translateY(50px);
  /*background: lightblue;*/
}
}
/*###############################*/
/*styling project section */
/* global styles for the boxes*/
#project-section {
  text-align: center;
  padding: 50px 0;
}
.project-holder {
  max-width: 378px;
  height: 370px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 6px 8px 0px #555;
  background: #fcfcfc;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.project-holder:nth-child(3) {
  margin-top: 50px;
}
.project-holder:nth-child(4) {
  margin-top: 50px;
}
.image-holder {
  width: 97%;
  height: 97%;
  margin: 1.5% auto;
}
.image-holder img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
  opacity: 0.7;
}
/* styling the description box */
.desc {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  left: 0;
  background: #fff;
  bottom: -62px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}
.desc p:nth-child(1) {
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
  color: #222;
}
.desc a {
  text-decoration: none;
  color: #555;
  font-variant: normal;
  margin: 0 5px;
  border: 1px solid #dbd9d9;
  padding: 7px 5px;
  border-radius: 5px;
}
.desc a:hover {
  border-color: #8a8888;
}
.project-holder:hover .desc {
  bottom: 0;
}
/* making responsive for mobile */
.project-container {
  margin: 50px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.project-container .project-holder {
  margin: 25px 0;
}
/* container responsive tablet device */
@media (min-width: 768px) {
  .project-container {
  
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-container .project-holder {
  max-width: 45%;
  margin: 20px 0;
}
}
@media (min-width: 992px) {
  .project-container {
    width: 1100px;
  }
}
/* styling footer */
footer {
  height: 40vh;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f4ebe7;
}
footer .name p {
  font: 50px 'Indie Flower', cursive;
  font-weight: 400;
  letter-spacing: 4px;
}
footer .name, footer .social-links {
  margin: 15px 0;
}
footer .social-links  {
  display: flex;
}
footer .social-links a {
  color: #f4ebe7;
  margin: 0 15px;
  font-size: 25px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: all 0.4s ease;
}
footer .social-links a:hover {
  border-color: #f4ebe7;
}
footer .social-links a:hover i {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
